<body style="margin-top: 20px; margin-left: 20px; margin-left: 20px;">
    <div class="row">
        <div class="col-6">
            <h5>Por favor, proceda a registrase.</h5>
            <p>Para mejorar la calidad del servicio, algunas operaciones requieren que el usuario
                se encuentre registrado (comprar, dejar una reseña, etc.)

            </p>
            <button (click)="login()" class="btn btn-primary">Login with Google
            </button>
        </div>
    </div>
</body>