.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
    background-image: url("https://media.gettyimages.com/photos/smiling-beautiful-teenage-girl-picture-id642326876");
}

.thumbnail2 {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
    background-image: url("https://media.gettyimages.com/photos/living-that-urban-life-picture-id1165314750?s=612x612");
}

@media only screen and (max-width: 500px) {

 
}



