<p>home works!</p>

<div class="row">
    <div class="col-12" style="text-align: center;">
        <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, veritatis iure vitae 
            impedit facilis molestias, aliquid quos ratione, iusto in ullam! Dolorum sapiente, 
            voluptate unde ipsum veritatis quia magni explicabo!
        </P>  
    </div>
    <div class="col-6" style="background-color: blue;">
        <p></p>
    </div>
    <div class="col-6" style="background-color: greenyellow;">
        <p></p>
    </div>
</div>

