<body style="margin-top: 20px; margin-left: 20px; margin-left: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img style="border-radius: 100%;" src="https://scontent.faep5-1.fna.fbcdn.net/v/t1.0-0/p206x206/87431184_2457438724567893_5956175210603347968_o.jpg?_nc_cat=102&ccb=2&_nc_sid=dd9801&_nc_ohc=_8s3G3rHQakAX_8SOap&_nc_oc=AQkLugTZ_J8FRu6UDuWo9CDZLSdbq57dL9sNxWH7EAqN-M7esC6MXIJZo1-V3knrN6NnP1ierj0SGmnNhFkdmi50&_nc_ht=scontent.faep5-1.fna&tp=6&oh=6326a9036960a3518fda8ce0b01e8e7b&oe=60032F25" alt="">
            </div>
            <div class="col-8 text-center" style="text-align: center;">
                <h5>
                    En Cortinas Atlas nos dedicamos a la venta y colocación de cortinas roller, venecianas, manuales
                    y robotizadas. No dude en contactarse con nosotros para encontrar la solución adecuada a su 
                    necesidad. 
                </h5>  
                <div class="row">
                    <div class="col-4" style="background: image-set();" class="thumbnail" alt="">

                    </div>
                    <div class="col-4">
                        <p style="font-style: italic;">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime asperiores, ullam rem omnis magni quasi repellat, veniam accusamus molestiae cupiditate minus quos dolorum!"</p>
                    </div>
                    <div class="col-4" style="background: image-set();" class="thumbnail2" alt="">

                    </div>
                    <div class="col-4">
                        <p style="font-style: italic;">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime asperiores, ullam rem omnis magni quasi repellat, veniam accusamus molestiae cupiditate minus quos dolorum!"</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <!-- <img style="border-radius: 100%;" src="https://scontent.faep5-1.fna.fbcdn.net/v/t1.0-0/p206x206/87431184_2457438724567893_5956175210603347968_o.jpg?_nc_cat=102&ccb=2&_nc_sid=dd9801&_nc_ohc=_8s3G3rHQakAX_8SOap&_nc_oc=AQkLugTZ_J8FRu6UDuWo9CDZLSdbq57dL9sNxWH7EAqN-M7esC6MXIJZo1-V3knrN6NnP1ierj0SGmnNhFkdmi50&_nc_ht=scontent.faep5-1.fna&tp=6&oh=6326a9036960a3518fda8ce0b01e8e7b&oe=60032F25" alt=""> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://scontent.faep5-1.fna.fbcdn.net/v/t1.0-9/121781963_2652080428437054_6430306333777139856_o.jpg?_nc_cat=106&ccb=2&_nc_sid=a26aad&_nc_ohc=u4Cve0MC2vsAX-vttkf&_nc_ht=scontent.faep5-1.fna&oh=5c07865dc0e95726ae64d26fcbbe5090&oe=6003BC29" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Trabajo realizado en...</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://scontent.faep5-1.fna.fbcdn.net/v/t1.0-9/121781963_2652080428437054_6430306333777139856_o.jpg?_nc_cat=106&ccb=2&_nc_sid=a26aad&_nc_ohc=u4Cve0MC2vsAX-vttkf&_nc_ht=scontent.faep5-1.fna&oh=5c07865dc0e95726ae64d26fcbbe5090&oe=6003BC29" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Trabajo realizado en...</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://scontent.faep5-1.fna.fbcdn.net/v/t1.0-9/121781963_2652080428437054_6430306333777139856_o.jpg?_nc_cat=106&ccb=2&_nc_sid=a26aad&_nc_ohc=u4Cve0MC2vsAX-vttkf&_nc_ht=scontent.faep5-1.fna&oh=5c07865dc0e95726ae64d26fcbbe5090&oe=6003BC29" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Trabajo realizado en...</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>    
                </div>
            </div>  

        </div>   
    </div>   
</body>

